*, *:before, *:after {
    box-sizing: border-box;
    text-align: center;
}

table, tr, th, td, tf {
    margin: auto;
    border: 1px solid black;
    border-collapse: collapse;
}

#completedDateColumn {
    min-width: 30rem;
}

#completedDeleteColumn {
    min-width: 5rem;
}

#completedTaskColumn {
    min-width: 45rem;
}

#taskInput {
    min-width: 40rem;
}

#deadlineInput {
    min-width: 10rem;
}

#todoCompleteColumn {
    min-width: 10rem;
}

#todoDeleteColumn {
    min-width: 10rem;
}

#todoDateColumn {
    min-width: 15rem;
    }

#todoTaskColumn {
min-width: 45rem;
}

#todoTableDiv {
    margin-bottom: 5vh;
}